<div class="card-3">
    <div class="contenedor-img">
        <a href="#">
            <img src="/image/nft.jpg" alt=""> 
        </a>
    </div>
    <div class="info">
        <p>Mono #010</p>
        <p>Precio: 0.5 ETH</p>
        <p>Termina en 5 horas</p>
        <button><a href="">Add to cart</a></button>
    </div>
</div>