<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear NTF | OpenSea</title>
    <%- include('../views/partials/head.ejs'); %>
    <link rel="stylesheet" href="/css/agregar-articulo.css">
</head>
<body>
    
    <header>
        <%- include('../views/partials/header.ejs'); %>
    </header>

    <main>
        <section class="section-one">
            <ul>
                <li><a href="/mis/colecciones">Mis colecciones</a></li>
                <i class="fa-solid fa-chevron-right"></i>
                <li><a href="/coleccion/:id">Nombre de la colección</a></li>
                <i class="fa-solid fa-chevron-right"></i>
                <li>Crear nuevo artículo</li>
            </ul>
        </section>
        <section class="section-two">
            <h1>Crear nuevo artículo</h1>
            <form action="">
                <div class="contenedor">
                    <div class="imagenes">
                        <div class="container">
                            <label for="">Imagen</label>
                            <p>Se recomienda 350px x 350px</p>
                            <p>Tamaño máximo: 100 MB</p>
                        </div>
                        <div class="container posicion">
                            <input type="file">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </div>
                    </div>
                    <div class="datos">
                        <label for="">Nombre</label>
                        <div class="container">
                            <input type="text" placeholder="Nombre del artículo">
                        </div>
                        <label for="">Descripción</label>
                        <div class="container">
                            <textarea name="" id="" cols="30" rows="0"
                                placeholder="Proporciona una sescripción detallada del artículo."></textarea>
                        </div>
                        <label for="">Precio del artículo</label>
                        <div class="container">
                            <input type="text" placeholder="Introducir el precio">
                        </div>
                    </div>
                </div>
                <div class="contenedor-button">
                    <button class="btn">Guardar</button>
                </div>
            </form>
        </section>
    </main>

    <script src="https://kit.fontawesome.com/dd5e87f640.js" crossorigin="anonymous"></script>
</body>
</html>