<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenSea, el mercado más grande de NFT</title>
    <%- include('../views/partials/head.ejs'); %>
    <link rel="stylesheet" href="/css/crear-colecciones.css">
</head>
<body>
    
    <header>
        <%- include('../views/partials/header.ejs'); %>
    </header>

    <main>
        <section>
            <form action="/coleccion/add" method="post" enctype="multipart/form-data">
                <div class="contenedor">
                    <h1>Crear colección</h1>
                    <div class="imagenes">
                        <div class="container">
                            <label for="">Imagen de logotipo</label>
                            <p>Se recomienda 350px x 350px</p>
                            <p>Tamaño máximo: 100 MB</p>
                        </div>
                        <div class="container posicion circulo">
                            <input type="file" class="image-logo" name="imageLogoUrl">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </div>
                        <div class="container">
                            <label for="">Imagen del banner</label>
                            <p>Se recomienda 1400px x 350px</p>
                            <p>Tamaño máximo: 100 MB</p>
                        </div>
                        <div class="container posicion">
                            <input type="file" class="image-banner" name="imageBannerUrl">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </div>
                    </div>
                    <div class="datos">
                        <label for="">Nombre de la colección</label>
                        <div class="container">
                            <input type="text" placeholder="Ejemplo: tesoros del mar" name="nombre">
                        </div>
                        <label for="">Descripción</label>
                        <div class="container">
                            <textarea name="descripcion" id="" cols="30" rows="0"
                                placeholder="¡Cuenta al mundo tu historia!"></textarea>
                        </div>
                        <label for="">Categoría</label>
                        <div class="container">
                            <select name="categoria" id="">
                                <option value="Arte">Arte</option>
                                <option value="Coleccionables">Coleccionables</option>
                                <option value="Nombre de dominio">Nombre de dominio</option>
                                <option value="Musica">Música</option>
                                <option value="Fotografia">Fotografia</option>
                                <option value="Deportes">Deportes</option>
                                <option value="Cromos">Cromos</option>
                                <option value="Utilidad">Utilidad</option>
                                <option value="Mundos virtuales">Mundos virtuales</option>
                            </select>
                        </div>
                        <label for="">Direccion</label>
                        <div class="container">
                            <input type="text" placeholder="Introduce la direccion de tu wallet" name="direccionWallet">
                        </div>
                        <label for="">Comision</label>
                        <div class="container">
                            <input type="text" placeholder="Introduce el portentaje" name="comision">
                        </div>
                    </div>
                </div>
                <div class="contenedor-button">
                    <button class="btn">Guardar</button>
                </div>
            </form>
        </section>
    </main>

    <script src="https://kit.fontawesome.com/dd5e87f640.js" crossorigin="anonymous"></script>
</body>
</html>