<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El email ya existe</title>
    <%- include('../views/partials/head.ejs'); %>
    <link rel="stylesheet" href="/css/emailDuplicado.css">
</head>
<body>
    <header>
        <%- include('../views/partials/header.ejs'); %>
    </header>

    <main>
        <% if(emailDuplicado) { %>
            <div>
                <p>El email <strong><%= email %></strong> ya existe, por favor intente con otro.</p>
                <a href="/register">Regresar al registro</a>
            </div>
        <% } %> 
    </main>

    <script src="https://kit.fontawesome.com/dd5e87f640.js" crossorigin="anonymous"></script>
</body>
</html>