<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email no registrado</title>
    <%- include('../views/partials/head.ejs'); %>
    <link rel="stylesheet" href="/css/emailNoRegistrado.css">
</head>
<body>

    <header>
        <%- include('../views/partials/header.ejs'); %>
    </header>

    <main>
        <div class="contenedor">
            <p>El siguiente email: <strong><%= email %></strong>, no registrado en la base de datos.</p>
            <a href="/enviarEmailRecuperacion">Volver</a>
        </div>
    </main>
    
    <script src="https://kit.fontawesome.com/dd5e87f640.js" crossorigin="anonymous"></script>
</body>
</html>