<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva contrase単a</title>
    <%- include('../views/partials/head.ejs'); %>
    <link rel="stylesheet" href="/css/enviarNewPassword.css">
</head>
<body>

    <header>
        <%- include('../views/partials/header.ejs'); %>
    </header>

    <main>
        <div class="contenedor">
            <form action="/newPassword/<%= token %>" method="post">
                <div>
                    <h3>Cambiar la contrase単a.</h3>
                </div>
                <label for="">Introducir la nueva contrase単a</label>
                <input type="password" name="claveOne" id="" required>
                <label for="">Repetir la contrase単a</label>
                <input type="password" name="claveTwo" id="" required>
                <button>Enviar</button>
            </form>
        </div>
    </main>
    
    <script src="https://kit.fontawesome.com/dd5e87f640.js" crossorigin="anonymous"></script>
</body>
</html>