<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenSea, el mercado más grande de NFT</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.css">
    <%- include('../views/partials/head.ejs'); %>
    <link rel="stylesheet" href="/css/home.css">
    <link href="/imageen/opsea.svg" rel="icon" type="image/png">
</head>

<body>

    <header>
        <%- include('../views/partials/header.ejs'); %>
    </header>

    <main>
        <div class="title">
            <h1>Explorar, coleccionar y vender NFT</h1>
        </div>

        <section class="carousel__contenedor">
            <div class="stores">
                <button aria-label="Anterior" class="carousel__anterior" id="carousel__anterior">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
    
                <div class="carousel__lista">
                    <div class="card-1 carousel__elemento">
                        <a href="/tiendas">
                            <img src="/image/nft.jpg" alt="">
                            <div>
                                <p>Nombre de la tienda</p>
                                <p>precio</p>
                            </div>
                        </a>
                    </div>
                    <div class="card-1 carousel__elemento">
                        <a href="#">
                            <img src="/image/nft.jpg" alt="">
                            <div>
                                <p>Nombre de la tienda</p>
                                <p>precio</p>
                            </div>
                        </a>
                    </div>
                    <div class="card-1 carousel__elemento">
                        <a href="#">
                            <img src="/image/nft.jpg" alt="">
                            <div>
                                <p>Nombre de la tienda</p>
                                <p>precio</p>
                            </div>
                        </a>
                    </div>
                    <div class="card-1 carousel__elemento">
                        <a href="#">
                            <img src="/image/nft.jpg" alt="">
                            <div>
                                <p>Nombre de la tienda</p>
                                <p>precio</p>
                            </div>
                        </a>
                    </div>    
                    <div class="card-1 carousel__elemento">
                        <a href="#">
                            <img src="/image/nft.jpg" alt="">
                            <div>
                                <p>Nombre de la tienda</p>
                                <p>precio</p>
                            </div>
                        </a>
                    </div>    
                    <div class="card-1 carousel__elemento">
                        <a href="#">
                            <img src="/image/nft.jpg" alt="">
                            <div>
                                <p>Nombre de la tienda</p>
                                <p>precio</p>
                            </div>
                        </a>
                    </div>  
                    <div class="card-1 carousel__elemento">
                        <a href="#">
                            <img src="/image/nft.jpg" alt="">
                            <div>
                                <p>Nombre de la tienda</p>
                                <p>precio</p>
                            </div>
                        </a>
                    </div> 
                    <div class="card-1 carousel__elemento">
                        <a href="#">
                            <img src="/image/nft.jpg" alt="">
                            <div>
                                <p>Nombre de la tienda</p>
                                <p>precio</p>
                            </div>
                        </a>
                    </div> 
                    <div class="card-1 carousel__elemento">
                        <a href="#">
                            <img src="/image/nft.jpg" alt="">
                            <div>
                                <p>Nombre de la tienda</p>
                                <p>precio</p>
                            </div>
                        </a>
                    </div> 
                    <div class="card-1 carousel__elemento">
                        <a href="#">
                            <img src="/image/nft.jpg" alt="">
                            <div>
                                <p>Nombre de la tienda</p>
                                <p>precio</p>
                            </div>
                        </a>
                    </div> 
                </div>
                
                <button aria-label="Siguiente" class="carousel__siguiente">
                    <i class="fa-solid fa-chevron-right"></i>
                </button> 
            </div>
        </section>

        <section class="tabla-contenedor">
            <div class="titulo">
                <span>En tendencia</span>
            </div>
            <table class="one">
                <tr>
                    <th colspan="3">COLECCIÓN</th>
                    <th>PRECIO MÍNIMO</th>
                    <th>VOLUMEN</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href=""><img src="image/nft2.jpg" width="68" alt=""></a></td>
                    <td>Nombre</td>
                    <td>precio</td>
                    <td>volumen</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href=""><img src="image/nft2.jpg" width="68" alt=""></a></td>
                    <td>Nombre</td>
                    <td>precio</td>
                    <td>volumen</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href=""><img src="image/nft2.jpg" width="68" alt=""></a></td>
                    <td>Nombre</td>
                    <td>precio</td>
                    <td>volumen</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href=""><img src="image/nft2.jpg" width="68" alt=""></a></td>
                    <td>Nombre</td>
                    <td>precio</td>
                    <td>volumen</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href=""><img src="image/nft2.jpg" width="68" alt=""></a></td>
                    <td>Nombre</td>
                    <td>precio</td>
                    <td>volumen</td>
                </tr>
            </table>
            <table class="two">
                <tr>
                    <th colspan="3">COLECCIÓN</th>
                    <th>PRECIO MÍNIMO</th>
                    <th>VOLUMEN</th>
                </tr>
                <tr>
                    <td >1</td>
                    <td ><a href=""><img src="image/nft2.jpg" width="68" alt=""></a></td>
                    <td >Nombre</td>
                    <td>precio</td>
                    <td>volumen</td>
                </tr>
                <tr>
                    <td >1</td>
                    <td ><a href=""><img src="image/nft2.jpg" width="68" alt=""></a></td>
                    <td >Nombre</td>
                    <td>precio</td>
                    <td>volumen</td>
                </tr>
                <tr>
                    <td >1</td>
                    <td ><a href=""><img src="image/nft2.jpg" width="68" alt=""></a></td>
                    <td >Nombre</td>
                    <td>precio</td>
                    <td>volumen</td>
                </tr>
                <tr>
                    <td >1</td>
                    <td ><a href=""><img src="image/nft2.jpg" width="68" alt=""></a></td>
                    <td >Nombre</td>
                    <td>precio</td>
                    <td>volumen</td>
                </tr>
                <tr>
                    <td >1</td>
                    <td ><a href=""><img src="image/nft2.jpg" width="68" alt=""></a></td>
                    <td >Nombre</td>
                    <td>precio</td>
                    <td>volumen</td>
                </tr>
            </table>   
        </section>

        <section class="carousel__contenedor">
            <div class="titulo">
                <h3>NFT 101</h3>
                <p>Ponte cómodo con los básicos.</p>
            </div>
            <div class="stores">
                <button aria-label="Anterior" class="carousel__anterior_2" id="carousel__anterior">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
    
                <div class="carousel__lista_2">
                    <div class="card-2 carousel__elemento">
                        <a href="https://opensea.io/learn/what-are-nfts" target="_blank">
                            <img src="/image/what-is-nft.png" alt="">
                            <div class="info">
                                <p>¿Qué es un NFT?</p>
                            </div>
                        </a>
                    </div>
                    <div class="card-2 carousel__elemento">
                        <a href="https://opensea.io/learn/what-is-crypto-wallet" target="_blank">
                            <img src="/image/what-is-crypto-wallet.png" alt="">
                            <div class="info">
                                <p>¿Qué es un criptomonedero?</p>
                            </div>
                        </a>
                    </div>
                    <div class="card-2 carousel__elemento">
                        <a href="https://opensea.io/learn/nft-gas-fees" target="_blank">
                            <img src="/image/what-are-gas-fees.png" alt="">
                            <div class="info">
                                <p>¿Qué son las tarifas de gas blockchain?</p>
                            </div>
                        </a>
                    </div>
                    <div class="card-2 carousel__elemento">
                        <a href="https://opensea.io/learn/how-to-buy-nft" target="_blank">
                            <img src="/image/how-to-buy-nft.png" alt="">
                            <div class="info">
                                <p>Cómo comprar un NFT</p>
                            </div>
                        </a>
                    </div>
                    <div class="card-2 carousel__elemento">
                        <a href="https://opensea.io/learn/how-to-create-an-nft" target="_blank">
                            <img src="/image/how-to-create-nft.png" alt="">
                            <div class="info">
                                <p>Cómo crear un NFT en OpenSea</p>
                            </div>
                        </a>
                    </div>
                    <div class="card-2 carousel__elemento">
                        <a href="https://opensea.io/learn/how-to-sell-nfts" target="_blank">
                            <img src="/image/how-to-sell-nft.png" alt="">
                            <div class="info">
                                <p>Cómo vender un NFT usando OpenSea</p>
                            </div>
                        </a>
                    </div>
                    <div class="card-2 carousel__elemento">
                        <a href="https://opensea.io/learn/what-is-minting-nft" target="_blank">
                            <img src="/image/what-is-minting.png" alt="">
                            <div class="info">
                                <p>¿Qué es la acuñación?</p>
                            </div>
                        </a>
                    </div>
                    <div class="card-2 carousel__elemento">
                        <a href="https://opensea.io/learn/who-is-opensea" target="_blank">
                            <img src="/image/who-is-opensea.png" alt="">
                            <div class="info">
                                <p>¿Quién es OpenSea?</p>
                            </div>
                        </a>
                    </div>
                </div>
                
                <button aria-label="Siguiente" class="carousel__siguiente_2">
                    <i class="fa-solid fa-chevron-right"></i>
                </button> 
            </div>
        </section>
    </main>

    <footer>
        <%- include('../views/partials/footer.ejs'); %>
    </footer>

    <script src="/js/carrusel.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.js"></script>
    <script src="https://kit.fontawesome.com/dd5e87f640.js" crossorigin="anonymous"></script>
</body>

</html>