<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis colecciones | OpenSea</title>
    <%- include('../views/partials/head.ejs'); %>
    <link rel="stylesheet" href="/css/mis-colecciones.css">
</head>
<body>

    <header>
        <%- include('../views/partials/header.ejs'); %>
    </header>

    <main>
        <div class="titulo">
            <h1>Mis colecciones</h1>
        </div>
        <section>
            <div class="card-4">
                <a href="/coleccion/:id">
                    <img src="/image/fondo.png" alt="">
                    <div class="info">
                        <div>
                            <img src="/image/nft2.jpg" alt="">
                        </div>
                        <h3>Nombre de la coleccion</h3>
                    </div>
                </a>
            </div>
            <div class="card-4">
                <a href="/coleccion/:id">
                    <img src="/image/fondo.png" alt="">
                    <div class="info">
                        <div>
                            <img src="/image/nft2.jpg" alt="">
                        </div>
                        <h3>Nombre de la coleccion</h3>
                    </div>
                </a>
            </div>
            <div class="card-4">
                <a href="/coleccion/:id">
                    <img src="/image/fondo.png" alt="">
                    <div class="info">
                        <div>
                            <img src="/image/nft2.jpg" alt="">
                        </div>
                        <h3>Nombre de la coleccion</h3>
                    </div>
                </a>
            </div>
            <div class="card-4">
                <a href="/coleccion/:id">
                    <img src="/image/fondo.png" alt="">
                    <div class="info">
                        <div>
                            <img src="/image/nft2.jpg" alt="">
                        </div>
                        <h3>Nombre de la coleccion</h3>
                    </div>
                </a>
            </div>
            <div class="card-4">
                <a href="/coleccion/:id">
                    <img src="/image/fondo.png" alt="">
                    <div class="info">
                        <div>
                            <img src="/image/nft2.jpg" alt="">
                        </div>
                        <h3>Nombre de la coleccion</h3>
                    </div>
                </a>
            </div>
            <div class="card-4">
                <a href="/coleccion/:id">
                    <img src="/image/fondo.png" alt="">
                    <div class="info">
                        <div>
                            <img src="/image/nft2.jpg" alt="">
                        </div>
                        <h3>Nombre de la coleccion</h3>
                    </div>
                </a>
            </div>
        </section>
    </main>

    <script src="https://kit.fontawesome.com/dd5e87f640.js" crossorigin="anonymous"></script>
</body>
</html>