<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userName</title>
    <%- include('../views/partials/head.ejs'); %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.css">
    <link rel="stylesheet" href="/css/perfil.css">
</head>
<body>
    
    <header>
        <%- include('../views/partials/header.ejs'); %>
    </header>

    <main>
        <section class="section-one">
            <div class="fondo">
                <img src="/image/fondo.png" alt="">
            </div>
            <div class="imagen">
                <img src="/image/nft2.jpg" alt="">
            </div>
        </section>
        <section class="section-two">
            <div class="contenedor">
                <div>
                    <h1>Monitos</h1>
                </div>
                <div class="iconos">
                    <a href="">
                        <div><i class="fa-solid fa-ellipsis"></i></div>
                    </a>
                </div>
            </div>
            <div class="info">
                <p><strong>UserID</strong></p>
                <p>Se ha unido Enero 2023</p>
            </div>
        </section>
        <section class="section-three">
            <nav class="nav">
                <ul class="lista">
                    <li>
                        <a href="/perfil/destacado">Destacado</a>
                    </li>
                    <li>
                        <a href="/perfil/coleccionado">coleccionado</a>
                    </li>
                    <li>
                        <a href="/perfil/creado">Creado</a>
                    </li>
                    <li><a href="/perfil/actividad">Actividad</a></li>
                </ul>
            </nav>
        </section>
        <section class="section-four carousel__contenedor">
            <div class="stores">
                <button aria-label="Anterior" class="carousel__anterior_3" id="carousel__anterior">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
    
                <div class="carousel__lista_3">
                    <div class="card-4 carousel__elemento">
                        <a href="/tienda/:id">
                            <img src="/image/fondo.png" alt="">
                            <div class="info">
                                <div>
                                    <img src="/image/nft2.jpg" alt="">
                                </div>
                                <h3>Nombre de la coleccion</h3>
                            </div>
                        </a>
                    </div>
                    <div class="card-4 carousel__elemento">
                        <a href="/tienda/:id">
                            <img src="/image/fondo.png" alt="">
                            <div class="info">
                                <div>
                                    <img src="/image/nft2.jpg" alt="">
                                </div>
                                <h3>Nombre de la coleccion</h3>
                            </div>
                        </a>
                    </div>
                    <div class="card-4 carousel__elemento">
                        <a href="/tienda/:id">
                            <img src="/image/fondo.png" alt="">
                            <div class="info">
                                <div>
                                    <img src="/image/nft2.jpg" alt="">
                                </div>
                                <h3>Nombre de la coleccion</h3>
                            </div>
                        </a>
                    </div>
                    <div class="card-4 carousel__elemento">
                        <a href="/tienda/:id">
                            <img src="/image/fondo.png" alt="">
                            <div class="info">
                                <div>
                                    <img src="/image/nft2.jpg" alt="">
                                </div>
                                <h3>Nombre de la coleccion</h3>
                            </div>
                        </a>
                    </div>
                </div>
                
                <button aria-label="Siguiente" class="carousel__siguiente_3">
                    <i class="fa-solid fa-chevron-right"></i>
                </button> 
            </div>
        </section>

        <section class="section-five">
            <div class="one">
                <div class="contenedor">
                    <form action="/buscar" method="get">
                        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                        <input type="text" name="buscar" id="buscar" placeholder="Buscar por nombre">
                        <button type="submit"></button>
                    </form>  
                </div>
                <div>
                    <select name="" id="">
                        <option value="Anunciado recientemente">Anunciado recientemente</option>
                        <option value="Creado recientemente">Creado recientemente</option>
                        <option value="Vendido recientemente">Vendido recientemente</option>
                        <option value="Recibido recientemente">Recibido recientemente</option>
                        <option value="Finaliza pronto">Finaliza pronto</option>
                        <option value="Precio de menor a mayor" selected>Precio de menor a mayor</option>
                        <option value="Precio de mayor a menor">Precio de mayor a menor</option>
                    </select>
                </div>
            </div>

            <div class="two">
                <div class="coleccion">
                    <div class="card-3">
                        <div class="contenedor-img">
                            <a href="/detalle/:id">
                                <img src="/image/nft.jpg" alt=""> 
                            </a>
                        </div>
                        <div class="info">
                            <p>Mono #010</p>
                            <p>Precio: 0.5 ETH</p>
                            <p>Termina en 5 horas</p>
                            <button><a href="">Add to cart</a></button>
                        </div>
                    </div>
                    <div class="card-3">
                        <div class="contenedor-img">
                            <a href="#">
                                <img src="/image/nft.jpg" alt=""> 
                            </a>
                        </div>
                        <div class="info">
                            <p>Mono #010</p>
                            <p>Precio: 0.5 ETH</p>
                            <p>Termina en 5 horas</p>
                            <button><a href="">Add to cart</a></button>
                        </div>
                    </div>
                    <div class="card-3">
                        <div class="contenedor-img">
                            <a href="#">
                                <img src="/image/nft.jpg" alt=""> 
                            </a>
                        </div>
                        <div class="info">
                            <p>Mono #010</p>
                            <p>Precio: 0.5 ETH</p>
                            <p>Termina en 5 horas</p>
                            <button><a href="">Add to cart</a></button>
                        </div>
                    </div>
                    <div class="card-3">
                        <div class="contenedor-img">
                            <a href="#">
                                <img src="/image/nft.jpg" alt=""> 
                            </a>
                        </div>
                        <div class="info">
                            <p>Mono #010</p>
                            <p>Precio: 0.5 ETH</p>
                            <p>Termina en 5 horas</p>
                            <button><a href="">Add to cart</a></button>
                        </div>
                    </div>
                    <div class="card-3">
                        <div class="contenedor-img">
                            <a href="#">
                                <img src="/image/nft.jpg" alt=""> 
                            </a>
                        </div>
                        <div class="info">
                            <p>Mono #010</p>
                            <p>Precio: 0.5 ETH</p>
                            <p>Termina en 5 horas</p>
                            <button><a href="">Add to cart</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <script src="/js/carrusel.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.js"></script>
    <script src="https://kit.fontawesome.com/dd5e87f640.js" crossorigin="anonymous"></script>
</body>
</html>