<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperacion de contraseña exitosa</title>
    <%- include('../views/partials/head.ejs'); %>
    <link rel="stylesheet" href="/css/emailEnviado.css">
</head>
<body>

    <header>
        <%- include('../views/partials/header.ejs'); %>
    </header>

    <main>
        <div class="contenedor">
            <h3>Recuperación de contraseña exitosa.</h3>
            <a href="/login">Ir al login</a>
        </div>
    </main>
    
    <script src="https://kit.fontawesome.com/dd5e87f640.js" crossorigin="anonymous"></script>
</body>
</html>