<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expiro el tiempo para la recuperacion de contraseña</title>
    <%- include('../views/partials/head.ejs'); %>
    <link rel="stylesheet" href="/css/tokenVencido.css">
</head>
<body>

    <header>
        <%- include('../views/partials/header.ejs'); %>
    </header>

    <main>
        <div class="contenedor">
            <p>Expiró el tiempo de uso de este enlace, por favor volver a enviar la solicitud para cambiar la contraseña.</p>
            <a href="/enviarEmailRecuperacion">Enviar email</a>
        </div>
    </main>
    
    <script src="https://kit.fontawesome.com/dd5e87f640.js" crossorigin="anonymous"></script>
</body>
</html>