main {
    background-color: #f7f7f7;
    padding: 3rem 0;
    height: 100vh;
}

main .contenedor {
    width: 60%;
    height: 50%;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .contenedor h3 {
    text-align: center;
    
}