* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 50%;
    margin: 0 auto;
    padding: 2rem 0;
}

main table {
    padding: 2rem;
    width: 100%;
    border: 2px solid lightgray;
}

main table tr th {
    border-bottom: 1px solid lightgray;
}

main table tr th, td {
    padding: 1rem;
    text-align: center;
}

main table tr td button {
    padding: 0.5rem;
    background-color: green;
    border: none;
    border-radius: 8px;
    color: #fff;
}